@model IsIoTWeb.Models.Error

@{
    ViewData["Title"] = "Control";
}

<h3>Irrigation Manual Control</h3>

<div id="errorMessages">
    @if(Model != null)
    {
        @foreach(var message in Model.ErrorMessages)
        {
            <p>@message</p>
        }
    }
</div>

<div class="text-right">
    <button type="button" class="btn btn-primary btnTurnAllOff">Turn All Valves Off</button>
</div>
<table class="table" id="tableValves">
    <thead>
        <tr>
            <th>
                Valve ID
            </th>
            <th>
                State
            </th>
            <th></th>
            <th></th>
        </tr>
    </thead>
</table>
<hr />
<h3>Irrigation Schedule</h3>

<div id="scheduleDiv">
    <div>
        <label>One Date</label>
        <input type="checkbox" id="oneDateScheduleCheckbox" name="OneDateSchedule" checked />
    </div>

    <div id="oneDateScheduleDiv">
        <label>In</label>
        <input type="date" class="input" id="oneDateSchedule" />
    </div>

    <div id="periodDateScheduleDiv">
        <label>From</label>
        <input type="date" class="input" id="fromDateSchedule" />
        <label>To</label>
        <input type="date" class="input" id="toDateSchedule" />
    </div>

    <div id="timeDurationScheduleUpperDiv">
        <div id="newTimeDuration">
            <label>At</label>
            <input type="time" class="input" id="oneTimeSchedule" />
            <label>Duration</label>
            <input type="number" class="input" id="durationSchedule" />
            <button id="pushDuration">Add</button>
        </div>

        <div id="timeDurations"></div>
    </div>

    <br/>

    <button class="btn btn-primary submit">Submit</button>
</div>

<link rel="stylesheet" href="~/css/time_list.css" />
<link href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.css" rel="stylesheet" type="text/css"/>
@section Scripts
{
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
<script type="text/javascript">
    
    $(document).ready(function () {
        UpdateTable();
        setInterval(UpdateTable, 5000);
    });
    
    function UpdateTable() {
        $.ajax({
            type: "POST",
            url: "/Irrigation/GetValvesState",
            data: {},
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: OnSuccess,
            failure: function(jqXHR, textStatus, errorThrown) {
                alert(jqXHR.responseText);
            },
            error: function(jqXHR, textStatus, errorThrown) {
                alert(jqXHR.responseText);
            }
        });
    }

    $(document).on("click", ".btnTurnOn", function() {
        var id = $(this).attr("id");
        action = JSON.stringify(CreateValveAction(id, "TURN_ON"))
        $.ajax({
            type: "POST",
            url: "/Irrigation/Action",
            data: action,
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function(response) {
                if (response.errorMessages) {
	                DisplayErrors(response.errorMessages)
                }
            },
            failure: function(jqXHR, textStatus, errorThrown) {
                alert(jqXHR.responseText);
            },
            error: function(jqXHR, textStatus, errorThrown) {
                alert(jqXHR.responseText);
            },
            complete: function() {
                 UpdateTable()
            }
        });
    })

    $(document).on("click", ".btnTurnOff", function() {
        var id = $(this).attr("id");
        action = JSON.stringify(CreateValveAction(id, "TURN_OFF"))
        $.ajax({
            type: "POST",
            url: "/Irrigation/Action",
            data: action,
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function(response) {
                if (response.errorMessages) {
	                DisplayErrors(response.errorMessages)
                }
            },
            failure: function(jqXHR, textStatus, errorThrown) {
                alert(jqXHR.responseText);
            },
            error: function(jqXHR, textStatus, errorThrown) {
                alert(jqXHR.responseText);
            },
            complete: function() {
                 UpdateTable()
            }
        });
    })

    $(document).on("click", ".btnTurnAllOff", function() {
        $.ajax({
            type: "POST",
            url: "/Irrigation/TurnAllOff",
            data: {},
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function(response) {
                if (response.errorMessages) {
	                DisplayErrors(response.errorMessages)
                }
            },
            failure: function(jqXHR, textStatus, errorThrown) {
                alert(jqXHR.responseText);
            },
            error: function(jqXHR, textStatus, errorThrown) {
                alert(jqXHR.responseText);
            },
            complete: function() {
                 UpdateTable()
            }
        });
    })

    function OnSuccess(response) {
        if (response.errorMessages) {
	        DisplayErrors(response.errorMessages)
        }

        $("#tableValves").DataTable({
            destroy: true,
            bFilter: false,
            bSort: false,
            stateSave: true,
            searching: false,
            bPaginate: false,
            data: response,
            columns: [{
                    data: 'valveId'
                },
                {
                    data: 'state'
                },
                {
                    data: 'valveId',
                    render: function(data, type, row) {
                        return '<button type="button" id=\'' + data + '\' class="btn btn-primary btnTurnOn">Turn On</button>'
                    }
                },
                {
                    data: 'valveId',
                    render: function(data, type, row) {
                        return '<button type="button" id=\'' + data + '\' class="btn btn-primary btnTurnOff">Turn Off</button>'
                    }
                }
            ]
        });
    };

    function CreateValveAction(id, action) {
        data = new Object();
        data.valveId = parseInt(id);
        data.action = action;
        return data;
    }
</script>

<script type="text/javascript">
    $(document).ready(function() {
        $("#oneDateScheduleDiv").show();
        $("#periodDateScheduleDiv").hide();
        $("#timeIntervalScheduleDiv").show();
        $('#oneDateScheduleCheckbox').click(function() {
            if ($(this).is(":checked")) {
                $("#oneDateScheduleDiv").show();
                $("#periodDateScheduleDiv").hide();
            } else {
                $("#oneDateScheduleDiv").hide();
                $("#periodDateScheduleDiv").show();
            }
        })

        $("#timeDurationScheduleUpperDiv").show();

    });

    $(document).on("click", ".submit", function () {
        schedule = CreateSchedule()
        if (schedule.entries == []) {
            return
        }

        $.ajax({
            type: "POST",
            url: "/Irrigation/AddSchedule",
            data: JSON.stringify(schedule),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function(response) {
                ClearInputs()
            },
            failure: function(response) {
                alert(response.d);
            },
            error: function(response) {
                alert(response.d);
            }
        });
    })

    function CreateSchedule() {
	    var schedule = new Object();
	    if ($("#oneDateScheduleCheckbox").is(":checked") === true) {
		    schedule.fromDate = $("#oneDateSchedule").val()
		    schedule.toDate = $("#oneDateSchedule").val()
	    }
	    else {
		    schedule.fromDate = $("#fromDateSchedule").val()
		    schedule.toDate = $("#toDateSchedule").val()
	    }
	
	    schedule.entries = []
	    durationDivs = document.querySelectorAll('#timeDurations > div');

	    for(var i=0; i<durationDivs.length; i++){
		    text = durationDivs[i].firstElementChild.innerText;
            groups = text.match("^(\\d\\d:\\d\\d) => (\\d+) minutes$")
            entry = Object()
		    entry.time = groups[1]
            entry.duration = parseInt(groups[2])
            schedule.entries.push(entry)
	    }

	    return schedule
    }

    function ClearInputs(id, action) {
        var current_time_durations = document.querySelectorAll(".delete");
        for(var i=0; i<current_time_durations.length; i++){
            current_time_durations[i].parentNode.remove()
        }
    }

    function DisplayErrors(errorMessages) {
	    const div = document.getElementById('errorMessages');
        div.innerHTML = "" ;
        errorMessages.forEach(message => div.innerHTML += '<p>' + message + '</p>');
    }

    document.querySelector('#pushDuration').onclick = function(){
        oneTime = document.querySelector('#oneTimeSchedule').value
        durationTime = document.querySelector('#durationSchedule').value
        if(oneTime.length == 0 || durationTime.length == 0){
            alert("Please enter valid irrigation time!")
        }
        if(durationTime <= 0) {
            alert("Irrigation time should be higher than 0!")
        }
        else{
            document.querySelector('#timeDurations').innerHTML += `
                <div class="timeDuration">
                    <span class="timeDurationEntry">
                        ${document.querySelector('#oneTimeSchedule').value} => ${document.querySelector('#durationSchedule').value} minutes 
                    </span>
                    <button class="delete">
                        \u00D7
                    </button>
                </div>
            `;

            var current_time_durations = document.querySelectorAll(".delete");
            for(var i=0; i<current_time_durations.length; i++){
                current_time_durations[i].onclick = function(){
                    this.parentNode.remove();
                }
            }
        }
    }
</script>
}  