@model IEnumerable<IsIoTWeb.Models.ValveState>

@{
    ViewData["Title"] = "Control";
}

<h3>Irrigation Manual Control</h3>

<div class="text-right">
    <button type="button" class="btn btn-primary btnTurnAllOff">Turn All Valves Off</button>
</div>
<table class="table" id="tableValves">
    <thead>
        <tr>
            <th>
                Valve ID
            </th>
            <th>
                State
            </th>
            <th></th>
            <th></th>
        </tr>
    </thead>
</table>
<hr />
<h3>Irrigation Schedule</h3>

<div id="filterDiv">
    <div>
        <label>One Date</label>
        <input type="checkbox" id="oneDateFilterCheckbox" name="OneDateFilter" checked />
    </div>

    <div id="oneDateFilterDiv">
        <label>In</label>
        <input type="date" class="input" id="oneDateFilter" />
    </div>

    <div id="periodDateFilterDiv">
        <label>From</label>
        <input type="date" class="input" id="fromDateFilter" />
        <label>To</label>
        <input type="date" class="input" id="toDateFilter" />
    </div>

    <br />

    <div>
        <label>Time Interval</label>
        <input type="checkbox" id="timeIntervalFilterCheckbox" name="TimeIntervalFilter" checked />
    </div>

    <div id="timeIntervalFilterDiv">
        <label>From</label>
        <input type="time" class="input" id="fromTimeFilter" />
        <label>To</label>
        <input type="time" class="input" id="toTimeFilter" />
    </div>

    <div id="timeDurationFilterUpperDiv">
        <div id="newTimeDuration">
            <label>At</label>
            <input type="time" class="input" id="oneTimeFilter" />
            <label>Duration</label>
            <input type="number" class="input" id="durationFilter" />
            <button id="push">Add</button>
        </div>

        <div id="timeDurations"></div>
    </div>

    <br/>

    <button class="btn btn-primary submit">Submit</button>
</div>

<link rel="stylesheet" href="~/css/time_list.css" />
<link href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.css" rel="stylesheet" type="text/css"/>
@section Scripts
{
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
<script type="text/javascript">
    
    $(document).ready(function () {
        UpdateTable();
        setInterval(UpdateTable, 5000);
    });
    
    function UpdateTable() {
        $.ajax({
            type: "POST",
            url: "/Irrigation/GetValvesState",
            data: {},
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: OnSuccess,
            failure: function(jqXHR, textStatus, errorThrown) {
                alert(jqXHR.responseText);
            },
            error: function(jqXHR, textStatus, errorThrown) {
                alert(jqXHR.responseText);
            }
        });
    }

    $(document).on("click", ".btnTurnOn", function() {
        var id = $(this).attr("id");
        action = JSON.stringify(CreateValveAction(id, "TURN_ON"))
        $.ajax({
            type: "POST",
            url: "/Irrigation/Action",
            data: action,
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function(response) {},
            failure: function(jqXHR, textStatus, errorThrown) {
                alert(jqXHR.responseText);
            },
            error: function(jqXHR, textStatus, errorThrown) {
                alert(jqXHR.responseText);
            },
            complete: function() {
                 UpdateTable()
            }
        });
    })

    $(document).on("click", ".btnTurnOff", function() {
        var id = $(this).attr("id");
        action = JSON.stringify(CreateValveAction(id, "TURN_OFF"))
        $.ajax({
            type: "POST",
            url: "/Irrigation/Action",
            data: action,
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function(response) {},
            failure: function(jqXHR, textStatus, errorThrown) {
                alert(jqXHR.responseText);
            },
            error: function(jqXHR, textStatus, errorThrown) {
                alert(jqXHR.responseText);
            },
            complete: function() {
                 UpdateTable()
            }
        });
    })

    $(document).on("click", ".btnTurnAllOff", function() {
        $.ajax({
            type: "POST",
            url: "/Irrigation/TurnAllOff",
            data: {},
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function(response) {},
            failure: function(jqXHR, textStatus, errorThrown) {
                alert(jqXHR.responseText);
            },
            error: function(jqXHR, textStatus, errorThrown) {
                alert(jqXHR.responseText);
            },
            complete: function() {
                 UpdateTable()
            }
        });
    })

    function OnSuccess(response) {
        $("#tableValves").DataTable({
            destroy: true,
            bFilter: false,
            bSort: false,
            stateSave: true,
            searching: false,
            bPaginate: false,
            data: response,
            columns: [{
                    data: 'valveId'
                },
                {
                    data: 'state'
                },
                {
                    data: 'valveId',
                    render: function(data, type, row) {
                        return '<button type="button" id=\'' + data + '\' class="btn btn-primary btnTurnOn">Turn On</button>'
                    }
                },
                {
                    data: 'valveId',
                    render: function(data, type, row) {
                        return '<button type="button" id=\'' + data + '\' class="btn btn-primary btnTurnOff">Turn Off</button>'
                    }
                }
            ]
        });
    };

    function CreateValveAction(id, action) {
        data = new Object();
        data.valveId = parseInt(id);
        data.action = action;
        return data;
    }
</script>

<script type="text/javascript">
    $(document).ready(function() {
        $("#oneDateFilterDiv").show();
        $("#periodDateFilterDiv").hide();
        $("#timeIntervalFilterDiv").show();
        $("#timeDurationFilterUpperDiv").hide();
        $('#oneDateFilterCheckbox').click(function() {
            if ($(this).is(":checked")) {
                $("#oneDateFilterDiv").show();
                $("#periodDateFilterDiv").hide();
            } else {
                $("#oneDateFilterDiv").hide();
                $("#periodDateFilterDiv").show();
            }
        })
        $('#timeIntervalFilterCheckbox').click(function() {
            if ($(this).is(":checked")) {
                $("#timeIntervalFilterDiv").show();
                $("#timeDurationFilterUpperDiv").hide();
            } else {
                $("#timeIntervalFilterDiv").hide();
                $("#timeDurationFilterUpperDiv").show();
            }
        })
    });

    $(document).on("click", ".submit", function () {
        $.ajax({
            type: "POST",
            url: "/Irrigation/AddSchedule",
            data: null,
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function(response) {
                ClearInputs()
            },
            failure: function(response) {
                alert(response.d);
            },
            error: function(response) {
                alert(response.d);
            }
        });
    })

    function ClearInputs(id, action) {
        var current_time_durations = document.querySelectorAll(".delete");
        for(var i=0; i<current_time_durations.length; i++){
            current_time_durations[i].parentNode.remove()
        }
    }

    document.querySelector('#push').onclick = function(){
        if(document.querySelector('#oneTimeFilter').value.length == 0 || document.querySelector('#durationFilter').value.length == 0){
            alert("Please enter valid irrigation time!")
        }
        else{
            document.querySelector('#timeDurations').innerHTML += `
                <div class="timeDuration">
                    <span>
                        ${document.querySelector('#oneTimeFilter').value} => ${document.querySelector('#durationFilter').value} minutes 
                    </span>
                    <button class="delete">
                        \u00D7
                    </button>
                </div>
            `;

            var current_time_durations = document.querySelectorAll(".delete");
            for(var i=0; i<current_time_durations.length; i++){
                current_time_durations[i].onclick = function(){
                    this.parentNode.remove();
                }
            }
        }
    }
</script>
}  