@{
    ViewData["Title"] = "Home Page";
}
@model IEnumerable<IsIoTWeb.Models.Reading>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    
    @foreach (var reading in Model) {
        @Html.DisplayFor(s => reading.Date)
    }
    
</div>
