<div class="img_nursery_container">
  <img class="img_nursery" src="images/thuja_nursery_garbova.jpg" alt="Sample Photo" />
  <div class="centered">
      <p class="centered-p1">IoT System for Irrigating and Monitoring a Thuja Conifer Nursery</p>
      <p class="centered-p2">at Gârbova, Alba, Romania</p>
  </div>
</div>

<div class="info-div">
    <div class="source-code-div">
        <h3>Source Code</h3>
        <div>
            <h6>Web App</h6>
            <a href='https://github.com/pdany1116/is-iot-web'>https://github.com/pdany1116/is-iot-web</a>
        </div>
        <div>
            <h6>Sink</h6>
            <a href='https://github.com/pdany1116/is-iot-sink'>https://github.com/pdany1116/is-iot-sink</a>
        </div>
        <div>
            <h6>Collector</h6>
            <a href='https://github.com/pdany1116/is-iot-collector'>https://github.com/pdany1116/is-iot-collector</a>
        </div>
    </div>

    <div class="omilab-div">
         <h3>OMiLAB</h3>
        <a href='http://digifof.omilab.ulbsibiu.ro/psm/home'>http://digifof.omilab.ulbsibiu.ro/psm/home</a>
    </div>

    <div class="mapiot-div">    
        <h3>MAPIoT</h3> 
        <a href='http://digifof.omilab.ulbsibiu.ro/psm/content/mapiot/info?view=activities'>http://digifof.omilab.ulbsibiu.ro/psm/content/mapiot/info?view=activities</a>
    </div>

    <div class="presentation-videos">
        <h3>Presentation Videos</h3> 
        <h6>Part 1</h6>
        <div class="iframe-container">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/BDuO6N8Xx4A" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <h6>Part 2</h6>
        <div class="iframe-container">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/uuLAhMF78jw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>   
    </div>
</div>
