<div class="img_nursery_container">
  <img class="img_nursery" src="images/thuja_nursery_garbova.jpg" alt="Sample Photo" />
  <div class="centered">
      <p class="centered-p1">IoT System for Irrigating and Monitoring a Thuja Conifer Nursery</p>
      <p class="centered-p2">at Gârbova, Alba, Romania</p>
  </div>
</div>