<h3>Configuration</h3>

<br />

<fieldset>
    <legend>Add collector</legend>

    <div>
	    <input type="text" id="rainProbThreshold" class="input"/>
    </div>
    <br />
    <button type="button" class="btn btn-primary">Add</button>
</fieldset>