*:before,
*:after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#timeDurationFilterUpperDiv {
    min-width: 450px;
    background: white;
    border-radius: 10px;
}

#oneTimeFilter:focus {
    outline: none;
    border-color: #0d75ec;
}

#oneDateFilter {
    width: 140px;
}

#fromDateFilter {
    width: 140px;
}

#toDateFilter {
    width: 140px;
}

#durationFilter:focus {
    outline: none;
    border-color: #0d75ec;
}

#newTimeDuration button {
    height: 45px;
    border-radius: 5px;
    font-weight: 500;
    font-size: 16px;
    background-color: #0d75ec;
    border: none;
    color: #ffffff;
    cursor: pointer;
    outline: none;
}

#timeDurations {
    background-color: #ffffff;
    margin-top: 10px;
    border-radius: 10px;
    position: relative;
}

.timeDuration {
    background-color: #c5e1e6;
    height: 50px;
    margin-bottom: 8px;
    padding: 5px 10px;
    display: flex;
    border-radius: 5px;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #939697;
    cursor: pointer;
}

    .timeDuration span {
        font-size: 15px;
        font-weight: 400;
    }

    .timeDuration button {
        background-color: #0a2ea4;
        color: #ffffff;
        height: 100%;
        width: 40px;
        border-radius: 5px;
        border: none;
        cursor: pointer;
        outline: none;
    }

.completed {
    text-decoration: line-through;
}

.submit {
}