@model IEnumerable<IsIoTWeb.Models.User>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table id="tableUsers">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </th>
            <th></th>
        </tr>
    </thead>
</table>
<link href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.css" rel="stylesheet" type="text/css" />

@section Scripts
{
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
<script type="text/javascript">
        $(document).ready(function() {
            $.ajax({
                type: "POST",
                url: "/Users/GetUsers",
                data: {},
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: OnSuccess,
                failure: function(response) {
                    alert(response.d);
                },
                error: function(response) {
                    alert(response.d);
                }
            });
        });

        $(document).on("click", ".btnEdit", function () {
            var id = $(this).attr("id");
            $.ajax({
                type: "POST",
                url: "/Users/GetId",
                data: id,
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function(response) {
                    window.location.href = '/Users/Edit/' + response.id
                },
                failure: function(response) {
                    alert(response.d);
                },
                error: function(response) {
                    alert(response.d);
                }
            });
        })

        function OnSuccess(response) {
            $("#tableUsers").DataTable({
                destroy: true,
                bLengthChange: true,
                lengthMenu: [
                    [10, -1],
                    [10, "All"]
                ],
                bFilter: true,
                bSort: true,
                stateSave: true,
                bPaginate: true,
                data: response,
                columns: [
                    {
                        data: 'firstName'
                    },
                    {
                        data: 'lastName'
                    },
                    {
                        data: 'email'
                    },
                    {
                        data: 'phoneNumber'
                    },
                    {
                        data: 'id',
                        render: function (data, type, row) {
                            data = JSON.stringify(data)
                            return '<button type="button" id=\''+data+'\' class="btn btn-primary btnEdit">Edit</button>'
                        }
                    }
                ]
            });
        };
</script>
}