@model IEnumerable<IsIoTWeb.Models.ValveState>

@{
    ViewData["Title"] = "Control";
}

<h1 class="display-4">Valves Control</h1>
<table class="table" id="tableValves">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ValveId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.State)
            </th>
            <th></th>
            <th></th>
        </tr>
    </thead>
</table>
<link href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.css" rel="stylesheet" type="text/css" />
@section Scripts
{
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
<script type="text/javascript">
    
    $(document).ready(function () {
        UpdateTable();
        setInterval(UpdateTable, 5000);
    });
    
    function UpdateTable() {
        $.ajax({
            type: "POST",
            url: "/Valves/GetValvesState",
            data: {},
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: OnSuccess,
            failure: function(jqXHR, textStatus, errorThrown) {
                alert(jqXHR.responseText);
            },
            error: function(jqXHR, textStatus, errorThrown) {
                alert(jqXHR.responseText);
            }
        });
    }

    $(document).on("click", ".btnTurnOn", function() {
        var id = $(this).attr("id");
        action = JSON.stringify(CreateValveAction(id, "TURN_ON"))
        $.ajax({
            type: "POST",
            url: "/Valves/Action",
            data: action,
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function(response) {},
            failure: function(jqXHR, textStatus, errorThrown) {
                alert(jqXHR.responseText);
            },
            error: function(jqXHR, textStatus, errorThrown) {
                alert(jqXHR.responseText);
            },
            complete: function() {
                 UpdateTable()
            }
        });
    })

    $(document).on("click", ".btnTurnOff", function() {
        var id = $(this).attr("id");
        action = JSON.stringify(CreateValveAction(id, "TURN_OFF"))
        console.log(action)
        $.ajax({
            type: "POST",
            url: "/Valves/Action",
            data: action,
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function(response) {},
            failure: function(jqXHR, textStatus, errorThrown) {
                alert(jqXHR.responseText);
            },
            error: function(jqXHR, textStatus, errorThrown) {
                alert(jqXHR.responseText);
            },
            complete: function() {
                 UpdateTable()
            }
        });
    })

    function OnSuccess(response) {
        $("#tableValves").DataTable({
            destroy: true,
            bFilter: false,
            bSort: false,
            stateSave: true,
            searching: false,
            bPaginate: false,
            data: response,
            columns: [{
                    data: 'valveId'
                },
                {
                    data: 'state'
                },
                {
                    data: 'valveId',
                    render: function(data, type, row) {
                        return '<button type="button" id=\'' + data + '\' class="btn btn-primary btnTurnOn">Turn On</button>'
                    }
                },
                {
                    data: 'valveId',
                    render: function(data, type, row) {
                        return '<button type="button" id=\'' + data + '\' class="btn btn-primary btnTurnOff">Turn Off</button>'
                    }
                }
            ]
        });
    };

    function CreateValveAction(id, action) {
        data = new Object();
        data.valveId = parseInt(id);
        data.action = action;
        data.userId = null;
        return data;
    }
</script>
}  